{% load staticfiles %}{% load iamDioeVrTags %}<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iamDioeVr{% block title %}{% endblock %}</title>
	  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <!-- <link href="{% static "main/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "main/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
    <link href="{% static "main/css/style.css" %}?{% settings_value "CACH_RANDOM" %}" rel="stylesheet"> -->
    {% block sitecss %}{% endblock %}
  </head>
  <body>
{% spaceless %}
xxx
<div class="container">{% block inhalt %}{% endblock %}</div>
{% endspaceless %}
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "main/js/bootstrap.min.js" %}"></script>
    <script src="{% static "main/js/scripts.js" %}?{% settings_value "CACH_RANDOM" %}"></script> -->
	{% block sitejs %}{% endblock %}
  </body>
</html>
