{% extends 'main/basis.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load iamDioeVrTags %}
{% block title %} - Startseite{% endblock %}
{% block sitecss %}
	{% render_bundle 'manifest' 'css' 'VR' %}
	{% render_bundle 'vendor' 'css' 'VR' %}
	{% render_bundle 'app' 'css' 'VR' %}
{% endblock %}
{% block inhalt %}
	<div id="app"></div>
{% endblock %}
{% block sitejs %}
	{% render_bundle 'manifest' 'js' 'VR' %}
	{% render_bundle 'vendor' 'js' 'VR' %}
	{% render_bundle 'app' 'js' 'VR' %}
{% endblock %}
